<!--<StackLayout margin="10">
    <StackLayout orientation="vertical" width="210" height="210" backgroundColor="lightgray">
        <Label text="Label 1" width="50" height="50" backgroundColor="red"></Label>
        <Label text="Label 2" width="50" height="50" backgroundColor="green"></Label>
        <Label text="Label 3" width="50" height="50" backgroundColor="blue"></Label>
        <Label text="Label 4" width="50" height="50" backgroundColor="yellow"></Label>
    </StackLayout>
    <Button text="Terug" [nsRouterLink]="['/home']" pageTransition="slide"></Button>
</StackLayout>-->

<StackLayout margin="10">
    <StackLayout orientation="horizontal" width="210" height="210" backgroundColor="lightgray">
        <Label text="Label 1" width="50" height="50" backgroundColor="red"></Label>
        <Label text="Label 2" width="50" height="50" backgroundColor="green"></Label>
        <Label text="Label 3" width="50" height="50" backgroundColor="blue"></Label>
        <Label text="Label 4" width="50" height="50" backgroundColor="yellow"></Label>
    </StackLayout>
    <Button text="Terug" [nsRouterLink]="['/home']" pageTransition="slide"></Button>
</StackLayout>