<StackLayout>
    <Label class="h2" text="Layout containers" horizontalAlignment="center" margin="10"></Label>
    <Button text="AbsoluteLayout" [nsRouterLink]="['/absolute']" pageTransition="slide"></Button>
    <Button text="DockLayout" [nsRouterLink]="['/dock']" pageTransition="slide"></Button>
    <Button text="GridLayout" [nsRouterLink]="['/grid']" pageTransition="slide"></Button>
    <Button text="StackLayout" [nsRouterLink]="['/stack']" pageTransition="slide"></Button>
    <Button text="WrapLayout" [nsRouterLink]="['/wrap']" pageTransition="slide"></Button>
    <Button text="FlexboxLayout" [nsRouterLink]="['/flexbox']" pageTransition="slide"></Button>
</StackLayout>